*{background-color: aqua;}
h2{
    background-color: chocolate;
    color: rgb(70, 217, 75);
}
h1{
    background-color: blueviolet;
    color: black;
}
h3{

    color: rgba(174, 49, 11, 0.664);
}
p{color: rgb(140, 22, 22);
}